.easy-gmap-edit {
  width: 100%;
  height: 400px;
}

/**
 * Spinner.
 * See: http://www.designcouch.com/home/why/2013/05/23/dead-simple-pure-css-loading-spinner/
 */
.easy-gmap-spinner {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
  height: 0.5em;
  width: 0.5em;
  position: relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 3px solid rgba(0, 174, 239, .15);
  border-right: 3px solid rgba(0, 174, 239, .15);
  border-bottom: 3px solid rgba(0, 174, 239, .15);
  border-top: 3px solid rgba(0, 174, 239, .8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}